{% extends 'layout.html.twig' %}
{% block contenu %}
    <div id="main-wrapper">
        <div class="container">

            <!-- Content -->
            <article class="box post">
                <a href="#" class="image featured " style="width:  5    0%"><img src="{{ asset('../uploads/images/articles/' ~article.image) }}" alt="" /></a>
                <header>
                    <h2>{{ article.title }}</h2>
                    <p> {% if article.date %}{{ article.date|date('Y-m-d ') }}{% endif %}</p>
                             <h3>  {{ article.author }}</h3>
                </header>
                <p>
                    {{ article.contenu }}
                </p>
                <p>

                </p>
<P>   <a CLASS="button alt" href="{{ path('article_index')}}">      Retour aux articles</a></P>

            </article>

        </div>
    </div>





{% endblock %}